<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/public/css/index.css">
</head>
<body>
	
<div id="app">
  
  <div class="container">
      
      <div class="row justify-content-center" >
        <div class="col center">
          <h1 class="title">留言板</h1>
        </div>
      </div>
      <form id="form">
        <div class="form-group">
          <label for="name">昵称</label>
          <input type="text" class="form-control" name="name" placeholder="请输入昵称">
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">内容</label>
          <textarea name="content" class="form-control" ></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <div class="row list">
        <div class="col">
          <div class="list-group" id="content_list">
            {{each list item}}
                 <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{item.name}}</h5>
                    <small>{{date(item.date)}}</small>
                  </div>
                  <p class="mb-1">{{item.content}}</p>
                </a>
            {{/each}}
          </div>
        </div>
      </div>
  </div>

</div>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>

<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="/public/js/index.js"></script>


</body>
</html>